<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name ="EventProvider" type="PV.Providers.EventProviderConfigurationSection, PV.Providers"/>
  </configSections>
  <EventProvider>
    <providers>
      <add name="Diagnose" description="Diagnose Provider" type="PV.EventProvider.DiagnoseProvider.Diagnose, PV.EventProvider.DiagnoseProvider"/>
      <add name="Register" description="Register Provider" type="PV.EventProvider.RegisterProvider.Register, PV.EventProvider.RegisterProvider"/>
    </providers>
  </EventProvider>
</configuration>